body {
    font-family: 'Verdana', 'sans-serif';
    background-color: rgba(49, 49, 49, 0.575);
    color: aliceblue;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
}

li {
    color: aliceblue;
}

img {
    margin-bottom: 15px;
}